@import 'settings';
.partners-content-second {
	a{
		color: $black;
		text-decoration: underline;
		margin: 10px 0px !important;
	}
	p{
		font-size:14px;
		padding-bottom: 10px;
	}
}

.partner-message{
	margin-top: 20px;
}