extends _layouts/base

include mixins

body(style="padding:0rem;")
block content
	+navigation
	+secondarypage-header('','Events')
	+secondarypage-hero('images/FinalImages/0308.jpg')
	+phone
	.container-fluid.market-content
		.row 
			.col-xs-12.col-sm-10.col-sm-offset-1.text-center
				p.pt-20 At Miesfeld’s, we care about giving back to the community! Every week, at the Brat Hut outside our store, we have brat frys to help local organizations raise money for their causes. We are proud to say that our Lakeshore event has raised over $1,000,000 for Children’s Hospital of Wisconsin since 2008! </br></br>
				h3 2016 BRAT HUT SCHEDULE
				p Brat Fry’s for great causes every Saturday at Miesfeld’s!
		.row
			.col-xs-12.col-sm-5.col-sm-offset-1
				h3 January
				p January 2 Urban Middle School 8th Grade Washington Trip
				p January 9 Urban Middle School 8th Grade Washington Trip
				p January 16 North High Baseball
				p January 23 Salvation Army
				p January 30 Sheboygan County Conservation Assoc.
			.col-xs-12.col-sm-5
				h3 February
				p February 6 Cub Scouts 3801
				p February 13 Howards Grove Baseball
				p February 20 Jr. Raiders
				p February 27 4-H
		.row
			.col-xs-12.col-sm-5.col-sm-offset-1
				h3 March
				p March 5 Binversie’s Club
				p March 11 Q-mart 200 fundraiser for Muscular Dystrophy
				p March 12 Our Shepard UCC
				p March 18 Soccer Trip
				p March 19 Samaritan’s Hand
				p March 26 Town Of Sheboygan Lions
			.col-xs-12.col-sm-5
				h3 April
				p April 2 Cub Scouts
				p April 09 Pigeon River PTO
				p April 16 Wise Wizards 4-H
				p April 23 Boys Basketball
				p April 30 1907 Club
		.row
			.col-xs-12.col-sm-5.col-sm-offset-1
				h3 May
				p May 6 Railroad Lodge
				p May 7 A.O.R.N.
				p May 13 Lakeshore Reptile Rescue
				p May 14 Sheboygan Noon Lions
				p May 21 Sheboygan Rifle and Pistol
				p May 27 Cicada’s 4-H
				p May 28 Retired Enlisted
			.col-xs-12.col-sm-5
				h3 June
				p June 3 Gymnastics Team
				p June 4 Trail Blazers
				p June 10 Mission Trip
				p June 11 Pine Club
				p June 17 Lakeshore Reptile Rescue
				p June 18 Bio Life
				p June 25 Rotary Club
		.row
			.col-xs-12.col-sm-5.col-sm-offset-1
				h3 July
				p July 1 Team Excel
				p July 3 Great Lakes Search & Rescue
				p July 8 Sheboygan Optimists
				p July 9 T.O.P.S
				p July 15 Alzheimer Walk
				p July 16 Sheboygan Optimist Club
				p July 23 Sheboygan Rifle and Pistol
				p July 30 Visit us at South Pier
			.col-xs-12.col-sm-5
				h3 August
				p August 6 Koenig Conservation
				p August 13 Samaritan’s Hand
				p August 20 Great Lakes Search and Rescue
				p August 26 St. John’s UCC
				p August 27 Rotary Club
		.row
			.col-xs-12.col-sm-5.col-sm-offset-1
				h3 September
				p September 2 Railroad Lodge
				p September 3 Kiwanis Club
				p September 10 Cub Scouts
				p September 17 Cruisin for Kai
				p September 24 Our Shepard UCC
			.col-xs-12.col-sm-5
				h3 October
				p October 3 Basketball
				p October 8 1907 Club
				p October 17 Emmanuel Lutheran
				p October 22 Farmer’s and Sportsman
				p October 29 First Congregational Church
		.row
			.col-xs-12.col-sm-5.col-sm-offset-1
				h3 November
				p November 5 Soccer
				p November 12 Salvation Army
				p November 19 Elm City Bow Club
				p November 26 Barbershop Men’s Group
			.col-xs-12.col-sm-5
				h3 December
				p December 3 Vietnam Vets
				p December 10 Boy Scouts 804
				p December 17 Farmer’s & Sportsman’s
				p No Fry Christmas or New Years Eve
	+contact('Contact Us', 'Contact us for more information or to place an order!')
	+footer
