extends _layouts/base

include _modules/link/link
include mixins


body(style="padding:0rem;")
block content
	.container-fluid.warning-container
		.row.warning-content
			.col-xs-12.warning-left
				h3 Attention Hunters
				p.italic Effective Immediately! 
				p Due to extensive remodeling of our sausage rooms (we are adding more smokehouses), and inspection rules pertaining to our daily operations, Miesfeld's Market will not be able to skin or cut deer or other wild game the entire 2016-2017 season. We apologize for the inconvenience! We will be accepting all boneless wild game trim for making our award winning sausage items or for grinding hamburger. To show our appreciation to those who have had their wild game processed here in the past, we will give you a coupon for $5.00 off of your wild game order for 30 —50 pounds of trim or a $10.00 coupon for over 50 pounds brought in. (coupon good on venison sausage items only) 
				p If you are looking for someone reputable in the area to skin and cut your deer we suggest: Jerry Shedal 920-726-4809 (Newton) or Rick Rogers 920-564-2169 (Oostburg). If you have any questions please call Tracy 920-565-6328.
			.col-xs-12.warning-right
				a.warning-close Got it, thanks! 
	+navigation
	+secondarypage-header('','Game Processing')
	+secondarypage-hero('images/FinalImages/0308.jpg')
	+phone
	.container-fluid.market-content.fresh-meat
		.row
			.col-xs-12.col-sm-10.col-sm-offset-1
				h3 Skinning and Cutting
				p.strong $85 per Deer 
				p Includes grinding the hamburger (addition of pork is extra), cutting steaks, chops, and roasts. All cuts are boneless. All cuts are layered on butcher paper and put in a box with a plastic liner. NOTE: We do not freezer wrap. 

				p.strong $75 per Deer (Cut Only)
				p Includes grinding the hamburger (addition of pork is extra), cutting steaks, chops, and roasts. All cuts are boneless. All cuts are layered on butcher paper and put in a box with a plastic liner. NOTE: Deer must be cleaned and free from hair before we receive it. We will decline it if it does not meet our quality standards,
		.row.background-color
			.col-xs-12.col-sm-10.col-sm-offset-1
				h3 Grinding
				p.strong $0.80 per lb.  ($8 minimum if under 10 lbs.) 
				p Pork Added is $2.99 per lb. 
				p Beef Added is $3.99 per lb. 
				p Beef Suet is $3.99 per lb. 
				p NOTE: Your fresh venison will be available to be picked up within 5 days of our contact. If it becomes necessary for us to freeze your venison, it will be frozen as is; we will not separate or wrap it for freezing. Additional charges for storage will apply.
		.row
			.col-xs-12.col-sm-10.col-sm-offset-1
				h3 Wild Game Sausages 
				p Product packaging below includes FREE vacuum sealing.
				p.strong Product + Price
				.col-xs-12.col-sm-6
					p Summer Sausage (Garlic) 	$3.69 lb
					p Summer Sausage (Plain) 	$3.69 lb
					p Pepper Jack Summer	$4.39 lb
					p Snack Stix	$4.99 lb
					p Hot Snack Stix	$4.99 lb
					p Cheese Snack Stix	$5.59 lb
					p Jalapeno Cheddar Stix	$5.99 lb
					p Ring Bologna 	$3.69 lb
					p Wieners	$4.49 lb
					p Bacon	$4.24 lb
					p Jerky	$5.29 lb
					p Smoked Polish Sausage	$4.29 lb
					p Bratwurst Links	$3.59 lb
				.col-xs-12.col-sm-6
					p Bulk Brat	$3.09 lb	
					p Italian Bratwurst	$3.99 lb
					p Breakfast Sausage	$4.39 lb
					p Beer, Butter & Onion Bratwurst 	$4.89 lb
					p **Brat Patties (Boxes of 48 pcs only)	$39 per box
					p **Pepper Jack Brat Patties (Boxes of 48 pcs only)	$45 per box
					p **Pot Pies (2 lbs meat = 3 pot pies) 	$7.50 ea
					p ** Product packaging does not include FREE vacuum sealing.
		.row.background-color
			.col-xs-12.col-sm-10.col-sm-offset-1
				h3 Quality Guidelines
				p All trim brought in for sausage products must meet our quality standards. Trim must be fresh or fresh frozen, be in a clear plastic bag, free from bones, hair, blood clots, excessive fat, and foreign objects including arrows or bullets. Frozen meat must not have freezer burn. Meat will be inspected for quality of freshness and condition. We reserve the right to refuse wild game meat due to non-compliance with our quality guidelines.
		.row
			.col-xs-12.col-sm-10.col-sm-offset-1
				p.strong Product / Total Yield (from 10 lbs of venison) / Quantity
				p Summer Sausage / 15 lbs / 1.5 lbs per sausage
				p All snack stix / 15 lbs / 8 sticks per lb
				p Jerky	/ 5 lbs / 15 pieces per lb
				p All Bratwurst / 25 lbs / 4 Brats per lb
				p Ground Bratwurst / 25 lbs / ground only (no casings) 
				p Ring Bologna / 20 lbs / 1.5 lbs per ring 
				p Wieners / 20 lbs / 8 per lb
				p Breakfast sausage / 25 lbs / 14 links per lb
				p Bacon / 20 lbs / 12 slices per lb
				p Polish sausage / 20 lbs / 4 sausages per lb
				p Bratwurst Patties (5 lbs venison) / 12 lbs / 4 per pound (48 per box)
				p Pepper Jack Patties (4 lbs venison) / 12 lbs / 4 per pound (48 per box)
	.container-fluid
		.row
			.col-xs-12.image-caption
				p.italic We also make Duck, Goose, and Pheasant Sausage Products as well as process Bear, Elk, Moose, Antelope, and Wild Boar. Please call and request Tracy for details. 
	+contact('Contact Us', 'Contact us for more information or to place an order!')
	+footer







