extends _layouts/base

include _modules/link/link
include mixins


body(style="padding:0rem;")
block content
	+navigation
	+secondarypage-header('','GRILL TIPS & RECIPES')
	+secondarypage-hero('images/FinalImages/0308.jpg')
	+phone
	.container-fluid.market-content
		.row
			.col-xs-12.col-sm-10.col-sm-offset-1
				h3 How to Grill Brats in 5 Steps
				p  1. Charcoal or Gas grilling works great. If you do charcoal, we suggest briquettes over hardwood charcoal as hardwood charcoal burns too hot for bratwurst.
				P 2. Soak bratwurst in COLD water for 5-7 mins prior to cooking. This will make the casing more pliable and reduce breakage. 
				P 3. With good medium heat, gently lay the brats on the clean hot grate. NOTE: Use a water spray bottle for lightly dousing flames if needed. A fire too hot will split the casing which will make the brat lose flavorful juices.
				P 4. Turn and rotate the Brats often on the grill. Brat’s only take total of 7-8 mins to fully cook. 
				P 5. To check if the brats are completed, slice one open and check inside to be sure it is not raw. Internal temperature should be 160 degrees. 
				P.italic 6. BONUS:  if you are not consuming the brats right after cooking, consider the Sheboygan classic brat “hot tub.” Put finished brats in a dish filled with ¼ stick of butter, 2 bottles of beer and 1 slice large onion, have it simmer on low heat. 
		.row.background-color
			.col-xs-12.col-sm-5.col-sm-offset-1
				h3 Brine
				p.italic Simple Brine recipe to bring more flavor and moisture to pork and poultry.
		.row
			.col-xs-12.col-sm-3.col-sm-offset-1
				p.strong Ingredients 
				P •	1/3  cup Kosher Salt
				p •	1/2 cup sugar
				p •	4 cups water
				p •	Ice
				p •	Beer (optional)
				p •	Apple Juice (optional)
				p •	Fresh Herbs (optional)
			.col-xs-12.col-sm-4
				p.strong Instructions
				p 1. Dissolve 1/3 cup salt and 1/2 cup sugar in the water. 
				p 2. Put ice in 1/3 gallon pitcher about 3/4 full. 
				p 3. Add additional liquid (beer or apple juice) if desired.
				p 4. Pour dissolved water, salt & sugar in pitcher.
				p 5. Add more water to fill pitcher to top.
			.col-xs-12.col-sm-3
				p.strong Brine Time for Meats:
				p Full chickens (whole or cut up and not injected with broth): 24-48 hours
				p Fresh chicken breasts: 24 hours
				p Pork steaks: 24 hours
				p Baby Back Ribs & Country style Ribs: 24 hours
				p Bone in or Boneless Pork chops: 24 hours
				p Pork Shoulder roast: 48 hours
		.row
			.col-xs-12.col-sm-5.col-sm-offset-1
				h3 Pork Tenderloin with a white wine & mushroom sauce  
				p.italic Simple Brine recipe to bring more flavor and moisture to pork and poultry.
		.row
			.col-xs-12.col-sm-3.col-sm-offset-1
				p.strong Ingredients 
				p •	1 whole tenderloin
				p •	8 oz mushrooms (sliced) 
				p •	1/2 small onion (diced)
				p •	1 tbsp. lemon juice
				p •	1 cup cooking white wine
				p •	2 cups heavy cream
				p •	1 tsp garlic
				p •	salt & pepper
				p •	Oil

			.col-xs-12.col-sm-7
				p.strong Instructions
				p 1. Remove silver skin, slice pork about 1” thick 
				p 2. Add 2 tbsp. oil to large sauté pan on med-hi heat; sear pork for about 2 mins per side.
				p 3. Remove from pan, add mushrooms (and more oil if needed) sauté on med-hi for 4 mins while stirring occasionally. 
				p 4. Add onions & garlic, cook for one min.
				p 5. Add lemon juice & white wine, heat until reduced by 1/2. 
				p 6. Add heavy cream & reduce about in 1/2 
				p 7. Add pork to sauce to reheat 
				p 8. Serve with your favorite starch & vegetable.

		.row.background-color
			.col-xs-12.col-sm-5.col-sm-offset-1
				h3 Simply Delicious Hot Beef Sandwiches  
		.row
			.col-xs-12.col-sm-3.col-sm-offset-1
				p.strong Ingredients 
				p •	3 lbs. Miesfeld’s Chuck Roast
				p •	1 pack dry ranch powder
				p •	1 pack of Au Jus mix
				p •	8 pepperoncini’s  
				p •	1/4 cup Butter or Margarine 
			.col-xs-12.col-sm-7
				p.strong Instructions
				p 1. Put chuck roast in crock pot, then top it with all the ingredients 
				p 2. Cook on high for 6-8 hours or until tender
				p 3. Remove roast & shred (discard fat)
				p 4. Return to crock pot to keep warm prior to serving 
				p 5. Add hot water or put on low heat (if necessary)
	+contact('Contact Us', 'Contact us for more information or to place an order!')
	+footer




















