extends _layouts/base

include _modules/link/link
include mixins


body(style="padding:0rem;")
block content
	+navigation
	.page
		+secondarypage-header('', 'Partners')
		+secondarypage-hero('images/FinalImages/0308.jpg')
		+phone
		.container-fluid.market-content.fresh-meat
			.row
				.col-xs-12.col-sm-10.col-sm-offset-1.text-center.partner-message
					p We partner with organizations that desire to deliver high quality food to their customers and employees. See below for the complete list of partners that offer Miesfeld’s products. 
					a(href="contact.html")
						.button-center Become a Partner
			.row
				.col-xs-12.col-sm-5.col-sm-offset-1
					h3 Partner & Location(s)
			.row.partners-content-second
				.col-xs-12.col-sm-5.col-sm-offset-1
					
					a(href="").strong NZ's Bar & Grill 
					p Sheboygan
					a(href="http://www.theoldfashioned.com/").strong Old Fashioned
					p Madison
					a(href="http://blueharborresort.com/").strong Blue harbor
					p 
					a(href="http://www.theotherplacepub.com/").strong The Other place
					p
					a(href="").strong Otto’s Brat and Beer Garden
					p Minocqua, WI
					a(href="http://www.paddockclubelkhartlake.com/").strong Paddock Club
					p 
					a(href="http://www.parkviewfamilyrestaurant.com/").strong Parkview
					p 
					a(href="").strong Penn Avenue Pub
					p Sheboygan
					a(href="http://www.picknsave.com/").strong Pick 'n Save  
					p Milwaukee, Neenah, Saukville, Fond Du Lac, Kimberly, Two Rivers , Brown Deer, Oshkosh (2), Grafton, Sheboygan (2), Plymouth, Kimberly
					a(href="http://www.shopthepig.com/").strong Piggly Wiggly 
					p Manitowoc, Plymouth (2), Appleton, Menasha, Sheboygan Falls, New Holstein, Mequon, Valders, Omro, Sheboygan, West Bend, Fond Du Lac, Oostburg, Howards Grove, Cedarburg, Little Chute, Kaukauna, Kiel, Slinger, 
					a(href="http://www.fayespizza.com/").strong Faye’s Pizza
					p 
					a(href="http://www.festfoods.com/").strong Festival Foods
					p Oshkosh, Manitowoc, Sheboygan, Fond Du Lac, 
					a(href="").strong Flecks Curbside Grill
					p Sheboygan
					a(href="http://gibbsvillecheese.com/").strong George Michaels
					p Sheboygan
					a(href="").strong Gibbsville Cheese
					p 
					a(href="").strong Globe Lanes
					p Random Lake
					a(href="http://www.gossesrestaurant.com/").strong Gosse's
					p 
					a(href="http://www.griffinmeatsales.com/").strong Griffin Meats Sales
					p 
					a(href="http://harborcentremarina.com/").strong Harbor Center Marina
					p 
					a(href="http://www.sheboygancounty.com/government/departments-f-q/health-and-human-services").strong Sheboygan County Health and Human Services
					p 
					a(href="https://heldsmarket.com/").strong Held Meat Products
					p 
					a(href="http://www.henningscheese.com/").strong Hennings Cheese
					p 
					a(href="").strong Highway Bakery
					p Sheboygan 
					a(href="http://www.hometownretirement.com/").strong Hometown Retirement 
					p 
					a(href="http://www.ilritrovopizza.com/index.html").strong IL Ritrovo
					p 
					a(href="").strong Primary Interstate Plaza
					p Sheboygan
					a(href="").strong Jakum's Hall
					p Sheboygan
					a(href="https://www.jmkac.org/").strong John Michael Kohler Art Center
					p 
					a(href="http://www.kohler.com/corporate/index.html").strong Kohler Company
					p 
					a(href="http://lakeland.edu").strong Lakeland College
					p 
					a(href="http://www.lakeshorelanes.com").strong Lakeshore Lanes
					p 
					a(href="http://www.lakestreetcafe.com").strong Lakestreet Café
					p 
					a(href="http://www.manningsirishpub.net").strong Mannings Irish Pub
					p 
					a(href="http://vollrath.com/Vollrath.html").strong Vollrath Company
					p 
					a(href="").strong Moose Lodge
					p Sheboygan 
					a(href="https://www.acuity.com/").strong Acuity
					p 
					a(href="").strong Advanced Disposal 
					p Sheboygan
					a(href="http://www.anglersavenue.net").strong Angler's Avenue 
					p 
					a(href="").strong Amberg Antiques
					p Amberg
					a(href="http://www.americanortho.com/").strong American Orthadontic 
					p 
					a(href="http://www.austinfoundry.com/").strong Austin Gray Foundry
					p 
					a(href="http://back40pub.com/").strong Back 40 Pub
					p 
					a(href="http://www.bakercheese.com/").strong Baker Cheese Company
					p 
					a(href="").strong The Bar-B-Que
					p Plymouth 
				.col-xs-12.col-sm-5
					a(href="http://bigdaddysbrewandque.com/").strong Beechwood Cheese
					p Adell
					a(href="").strong Big Daddy's
					p 
					a(href="http://www.billscornercafe.com/").strong Bill's Corner Cafe
					p 
					a(href="").strong Black River Grill
					p Sheboygan
					a(href="http://www.theblindhorse.com/").strong The Blind Horse
					p 
					a(href="").strong Bomallies
					p Sheboygan
					a(href="").strong Bondies Quik Mart
					p Cleveland 
					a(href="").strong Bummy's Haus
					p Sheboygan
					a(href="http://www.cedarvalleycheesestore.com/").strong Cedar Valley Cheese
					p 
					a(href="http://www.charcoalinn.com/").strong Charcoal Inn North
					p 
					a(href="http://www.charcoalinn.com/").strong Charcoal Inn South
					p 
					a(href="http://dicksfamilyfoods.com/").strong Dicks Family Foods
					p 
					a(href="").strong The Depot
					p Plymouth
					a(href="http://www.dukeofdevonpub.com/").strong Duke of Devon
					p 
					a(href="").strong Eli's Roadhouse
					p Plymouth
					a(href="").strong Elks Lodge
					p Sheboygan
					a(href="http://www.eatatellas.com/").strong Ellas Della
					p 
					a(href="http://www.firehouse-pizza.com/").strong Falls Firehouse Pizza
					p 
					a(href="http://www.farmerssportsmens.org/").strong Farmers & Sportsman
					p 
					a(href="http://www.fassepaint.com/").strong Fasse Paint
					p 
					a(href="http://www.pinehillscc.com/").strong Pine Hills Country Club
					p 
					a(href="http://www.pineriverdairy.com/").strong Pine River Dairy
					p 
					a(href="https://www.plenco.com/").strong Plenco- Plastics Engineering
					p 
					a(href="").strong Plymouth Cheese (Weber's family station)
					p Plymouth
					a(href="http://www.plymouthrotarywi.com/").strong Plymouth Rotary
					p 
					a(href="").strong Q-Mart
					p Sheboygan
					a(href="http://www.quasius.com/").strong Quasius Brothers
					p 
					a(href="http://www.quitquioc.com/").strong Quit-Qui-Oc
					p 
					a(href="").strong Rupps Lodge
					p Sheboygan
					a(href="http://www.ruppsonwashington.com/").strong Rupps on Washington
					p 
					a(href="http://save-a-lot.com/").strong Save a Lot 
					p Fond Du Lac, Sheboygan, 
					a(href="http://slysmidtown.com/").strong Sly's Midtown Saloon
					p 
					a(href="").strong Smerkes Sportsman
					p Sheboygan Falls
					a(href="http://www.sohnmanufacturing.com/").strong Sohn Manufacturing
					p 
					a(href="").strong Superior Bar & Grill
					p Sheboygan
					a(href="").strong Tappers Bar & Grill
					p Sheboygan
					a(href="").strong Terrace Place
					p Sheboygan
					a(href="http://www.threeguysandagrill.com/").strong Three Guys and a Grill
					p 
					a(href="http://www.tommysbargrill.com/").strong Tommy's Bar
					p 
					a(href="http://www.townandcountrygolf.com/").strong Town & Country
					p 
					a(href="http://www.tsfd.us/").strong Town Of Sheboygan Fire Department 
					p 
					a(href="http://www.trattoriastefano.com/").strong Tarattoria Stefano 
					p 
					a(href="").strong Turn 3 Café
					p Elkhart Lake 
					a(href="https://www.vikingelectric.com/c/home").strong Viking Electric
					p 
					a(href="").strong Village Inn
					a(href="http://www.watsonsinc.net/").strong Watson Vending
					p 
					a(href="https://www.woodmans-food.com/").strong Woodman's Market
					p 
					a(href="http://www.sheboyganyachtclub.com/").strong Yacht Club
					p 
					a(href="http://www.zspotespresso.com/").strong Z-Spot
					p 
					a(href="http://www.sheboygan.k12.wi.us/").strong Sheboygan Public Schools
					p 
					a(href="http://www.shebcofair.com/").strong Sheboygan County Fair
					p 
		+contact('Contact Us', 'Contact us for more information or to place an order!')
	+footer