extends _layouts/base

include _modules/link/link
include mixins


body(style="padding:0rem;")
block content
	.container-fluid.success-container
		.row
			.col-xs-12.success-content
				img.img-responsive(src="../images/mfeldlogo.jpg")
				h2 Thank you!
				p We have received your message and will respond as soon as possible. 
				p If your need is urgent, please give us a call at 
					a#number(href="tel:+19205656328")
						p 920-565-6328
				a#success-button
					.button Continue
